.McontentContainer{
  width: 89vw;
  height: auto;
  min-height: 17vh;
  border-radius: 0.2rem;
  background-color: white;
  margin: 4vw auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(103, 102, 102, 0.74);

}
.Mnotes_content{
    width: 100%;
    height: auto;
    line-height: 1.5rem;
    text-align: left;
    color:#555;
    margin: 20px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9rem;
    font-weight: 500;
}
.Mtime_details{
  position: absolute;
  bottom: 2vw;               
  right: 6vw;               
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}
.Mtime,.Mdate{
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}