.MgroupTitlelogo{
    border-radius: 1rem;
    height: 10vh;
    width: 23vw;
    color: black;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    padding-left: 3vw;
    font-size: 1rem;
    font-weight: 600;
}
.MtitleLogo{
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
}
.MgroupTitleLogo:hover{
    background-color: #f0f0f0;
}
.MgroupTitle{
    width: 50vw;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}